{% extends 'base.html' %}
{% block head %}
    <title>My portfolio</title>
{% endblock %}
{% block body %}
    <div class="form-container">
        <h1>Create a post..</h1>
        <form action="/posts" method="POST">
            <input type="text" name="title" class="input-field" placeholder="Enter the title of the post" required> 
            <textarea  name="content" class="input-text-area" placeholder="Enter the content of the post.." rows="4" required></textarea><br>
            <input type="submit" value="POST" id="submit">
        </form>
    </div>
{% endblock %}